body, html {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
    height: 100%;
  }
  
p {
    font-size: 16px;
}

.p-contact {
    padding-top: 200px;
    font-size: larger;
    color: black;
    font-weight: bold;
}

.top-margin {margin-bottom: 50px;}    
.footer-margin {margin-bottom: 30px;}

.bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}
.bg-2 { 
    background-color: #F3F2F2; /* Gray */
    font-weight: bold;
    color: #101010;
}
.bg-3 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
    font-weight: bold;
}

.container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
}

.container-whoami {
    background-image: url("background1.png");
    padding-top: 50px;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container-contact {
    background-image: url("background3.jpg");
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-background {
    background-image: url("contactbackground.jpg");
    width: 100%;
    /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.75;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 17px;
    letter-spacing: 5px;
}
.navbar-nav li a:hover {
    color: #1abc9c !important;
}